.main {
	background-color: #0d0a0b;
	margin: 0 auto;
	padding: 0;
	width: var(--inner-content-width);
	min-height: 100vh;
	position: relative;
	text-align: center;

	& .aboutus {
		background-color: #2d2b2c;
		//border-radius: 15px;
		color: rgb(255, 255, 255, 0.6);
		font-family: "Monserrat-Regular";
		font-size: 1.1rem;
		margin: 0 auto;
		padding: 0.8%;
		text-shadow: 2px 2px 1px #000;
		width: 75vw;

		& h2 {
			color: rgb(255, 255, 255);
		}
	}
}