.card-set{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3%;
    row-gap: 3rem;
    width: var(--inner-content-width);
    margin-bottom: 50px;
    padding: 0 5px;
    position: relative;
}