$gray-color: #c4c4c4;

.footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: var(--inner-content-width);
    padding: 10px 10px 0 10px;

    & .footerContent{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        & .leftSection{
            display: flex;
            flex-direction: column;
            flex:0.5;
            width:100%;

            & .leftSectionTitle{
                font-size: 1.2rem;
            }
            & .leftSectionContent{
                color: $gray-color;
                font-size: 0.8rem;
                margin:0;
            }
        }

        & .rightSection{
            display: flex;
            flex-direction: row;
            flex:0.5;
            justify-content: center;
            gap:10%;
            width: 100%;

            & a{
                cursor:pointer;
                filter: grayscale(0);
                transition: 500ms ;

                &:hover{
                    filter: grayscale(0.5);
                }
                &:active{
                    filter: grayscale(0.5);
                }
            }
        }
    }

    & .copyright{
        background-color: #121212;
        font-size: 0.8rem;
        margin-bottom: 0;
        padding: 1rem 0;
        text-align: center;
        width: 100%;

        & a{
            color:$gray-color;
            cursor:pointer;
            padding-left: 1ch;
            transition: 500ms ;

            &:hover{
                color:#FFF;
            }
        }
    }
}

@media only screen and (max-width: 576px){
    .footer{
        text-align: center;

        .footerContent{
            flex-direction:column;

            & .leftSection{
                margin-bottom: 1rem;
            }
        }
    }
}